@use '../abstracts/icons' as icon;
@use '../abstracts/colors' as color;
@use '../abstracts/mixins' as mix;
@use '../abstracts/functions' as func;
@use '../abstracts/fonts' as font;
@use '../abstracts/margins' as margin;

@media screen and (orientation: portrait),
(orientation: landscape) and (max-width: 900px) and (max-height: 600px) {

    // Buttons


    // general

    .btn__text-slide-up,
    .btn__background-color-slide-right {
        display: none;
    }

    // light  
    .light .btn__text-static {
        color: color.$greyDark;
        background-color: color.$white;
    }

    // dark  
    .dark .btn__text-static {
        color: color.$white;
        background-color: color.$greyDark;
    }

    // icons

    .light.intern .btn__text-static {
        background-image: icon.$icon-arrow_black;
    }

    .light.extern .btn__text-static {
        background-image: icon.$icon-extern_black;
    }      

    .dark.intern .btn__text-static {
        background-image: icon.$icon-arrow_white;
    }  
    
    .dark.extern .btn__text-static {
        background-image: icon.$icon-extern_white;
    }

   


    // Header


    header,
    footer {    
        height: auto;
        padding: 0 29px 0 29px;
    }

    .herobox--main {
        flex-direction: column;
    }

    .herobox--main--content {
        width: 100%;
        height: auto;
        justify-content: flex-start;
    }

    .herobox--main--visual {
        padding: 80% 0 0 0;
        width: 100%;
        background-size: 75% auto;
    }

    .herobox--title,
    .herobox--text {
        width: 100%;
    }

    .herobox--text p {
        font-size: 1.7em;
        line-height: 1.2em;
    }

    .herobox--title {
        margin: 57px 0 0 0;
    }

    .herobox--copyright {
        display: none;
    }

    .herobox--links {
        margin: 0px auto;
        padding: 0 0 19px 0;
        width: 71%;
    }

    .herobox--links li {
        font-size: 1.4em;
        text-transform: uppercase;
    }

    .herobox--links li a {
        color: color.$white;
    }

    // Main => Reasons

    section.grid {    
        padding: 0 29px 0 29px;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    section.grid .section--grid-item:nth-child(1) {
        margin: 57px 0 0 0;
    }

    section.grid .section--grid-item:nth-child(3) {
        margin: 57px 0 0 0;
    }    

    section.grid .section--grid-item:last-of-type {
        margin: 57px 0 79px 0;
    }

    .section--grid-item.empty {
        display: none;
    }    

    .section--title {
        margin: 0;
    }

    .section--content {
        padding: 0;
    }

    // projects

    .single-project {
        width: 100%;
        height: 100%;
    }



    .project-grid {
        margin: 29px 0 0 29px;
        width: calc(100% - (29px + 29px));        
        flex-direction: column-reverse;
    }

    .project--links--wrapper {
        width: 100%;
    }

    .project--title {
        font-size: 1.9em;
    }

    .project--detail-lists {
        width: 100%;
        flex-direction: column;
    }

    .project--detail-lists dl:nth-child(2)  {
        width: 100%;
    }  
    
    .project--detail-lists dl {
        margin: 29px 0 0 0;
    }
    
    .project--detail-lists dl dt {
        margin: 0 0 11px 0;
    }

    // qualifications

    .qualifications .section--grid-item:nth-child(2) {
        display: none;
    }

    .qualifications .section--button {
        margin: 29px 0 29px 0;

    }

    // footer

    footer {
        height: 100vh;
        padding: 0 29px 0 29px;
        flex-direction: column;
    }

    .footer--main {
        width: 100%;
        height: 50%;
    }

    .footer--title {
        margin: 29px 0 0 0;
    }

    .footer--text {
        margin: 19px 0 0 0;
    }    

    .footer--lists {
        margin: 35px 0 29px 0;
        display: flex;
        justify-content: space-between;
    }

    .footer--lists dl dt {
        margin: 0 0 7px 0;
        font-size: 1.9em;
        text-transform: uppercase;
        color: color.$greyLight;
    }

    .footer--lists dl dd {
        font-size: 1.9em;
    }

    
    .footer--visual {
        width: 100%;
        height: 50%;
        background-size: auto 100%;
    }    

    
}

@media screen and (orientation: landscape) and (max-width: 1150px) {

    section.grid {    
        grid-template-columns: 1fr 0.5fr 1.25fr 1.25fr;
        gap: 41px;
    }

}