// PPNeueMontreal - Book 
@font-face {
    font-family: 'PPNM'; 
    src: url('assets/fonts/PPNeueMontreal/PPNeueMontreal-Book.eot');
    src: url('assets/fonts/PPNeueMontreal/PPNeueMontreal-Book.woff') 
    format('woff'), 
    url('assets/fonts/PPNeueMontreal/PPNeueMontreal-Book.ttf') 
    format('truetype');
    font-display: swap;
}

// PPNeueMontreal - Medium 
@font-face {
    font-family: 'PPNM-Medium'; 
    src: url('assets/fonts/PPNeueMontreal/PPNeueMontreal-Medium.eot');
    src: url('assets/fonts/PPNeueMontreal/PPNeueMontreal-Medium.woff') 
    format('woff'), 
    url('assets/fonts/PPNeueMontreal/PPNeueMontreal-Medium.ttf') 
    format('truetype');
    font-display: swap;
}

body {
    font-size: 62.5%;
    font-family: "PPNM", Helvetica, Arial, sans-serif;
}

h1,
h2 {
    font-size: 3.7em;
    line-height: 1.1em;
    font-weight: 100;
}

h3 {
    font-size: 2.9em;
    line-height: 1.1em;
    font-weight: 100;   
}

p {
    font-size: 1.9em;
    line-height: 1.1em;
}

a,
a:link,
a:active,
a:visited,
a:hover,
a:focus {
    text-decoration: none;    
}


