// arrows
$icon-arrow_white: url(assets/images/arrow_to-right_white.png);
$icon-arrow_black: url(assets/images/arrow_to-right_black.png);

// icon extern
$icon-extern_white: url(assets/images/icon-extern_white.png);
$icon-extern_black: url(assets/images/icon-extern_black.png);