@font-face {
  font-family: "PPNM";
  src: url("assets/fonts/PPNeueMontreal/PPNeueMontreal-Book.eot");
  src: url("assets/fonts/PPNeueMontreal/PPNeueMontreal-Book.woff") format("woff"), url("assets/fonts/PPNeueMontreal/PPNeueMontreal-Book.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "PPNM-Medium";
  src: url("assets/fonts/PPNeueMontreal/PPNeueMontreal-Medium.eot");
  src: url("assets/fonts/PPNeueMontreal/PPNeueMontreal-Medium.woff") format("woff"), url("assets/fonts/PPNeueMontreal/PPNeueMontreal-Medium.ttf") format("truetype");
  font-display: swap;
}
body {
  font-size: 62.5%;
  font-family: "PPNM", Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-size: 3.7em;
  line-height: 1.1em;
  font-weight: 100;
}

h3 {
  font-size: 2.9em;
  line-height: 1.1em;
  font-weight: 100;
}

p {
  font-size: 1.9em;
  line-height: 1.1em;
}

a,
a:link,
a:active,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
p,
ul, li, dl, dt, dd,
img {
  margin: 0;
  padding: 0;
}

ul,
dl {
  list-style: none;
  list-style-type: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #646464;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F4F4F4;
}

/* general button settings */
.btn {
  font-size: 1.7em;
  text-transform: uppercase;
  width: 219px;
  height: 41px;
  border-radius: 41px;
  margin: 79px 0 0 0;
  background: none;
  cursor: pointer;
  overflow: hidden;
}

.btn__text-static,
.btn__text-slide-up,
.btn__background-color-slide-right {
  height: 41px;
  border-radius: 41px;
  position: relative;
}

.btn__text-static,
.btn__text-slide-up {
  width: 178px;
  padding: 0 0 0 41px;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
}

.btn__text-static {
  z-index: 10;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 41px);
}

/* button with text that slides up */
.btn__text-slide-up {
  transition: top 310ms;
  z-index: 20;
}

.btn:hover .btn__text-slide-up {
  top: -41px;
}

/* button with backgroundColor that slides in from the left */
.btn__background-color-slide-right {
  width: 219px;
  left: -220px;
  top: -82px;
  z-index: 1;
  transition: left 300ms;
}

.btn:hover .btn__background-color-slide-right {
  left: 0;
}

/* background image size intern */
.intern .btn__text-static,
.intern .btn__text-slide-up {
  background-size: 39.5px 8px;
}

/* background image size extern */
.extern .btn__text-static,
.extern .btn__text-slide-up {
  background-size: 24px 24px;
}

/* styles for light, intern button */
.light .btn__background-color-slide-right {
  background-color: #F4F4F4;
}

.light.intern:hover .btn__text-static {
  background-image: url(assets/images/arrow_to-right_black.png);
}

.light .btn__text-static {
  background-image: url(assets/images/arrow_to-right_white.png);
}

.light {
  border: 1px solid #F4F4F4;
}

.light .btn__text-slide-up {
  color: #212121;
}

/* styles for light, extern button */
.light.extern:hover .btn__text-static {
  background-image: url(assets/images/icon-extern_black.png);
}

a .light {
  color: #F4F4F4;
}

.light .btn__text-static {
  background-image: url(assets/images/icon-extern_white.png);
}

/* styles for dark, intern button */
.dark .btn__background-color-slide-right {
  background-color: #212121;
}

.dark.intern:hover .btn__text-static {
  background-image: url(assets/images/arrow_to-right_white.png);
}

.dark .btn__text-static {
  background-image: url(assets/images/arrow_to-right_black.png);
}

.dark {
  border: 1px solid #212121;
}

.dark .btn__text-slide-up {
  color: #F4F4F4;
}

/* page top button */
.page-top {
  width: 170px;
  margin: 0;
  background-color: #000;
}

.page-top:hover,
.page-top:focus {
  background-color: #F4F4F4;
}

.page-top:hover .btn__text-slide-up,
.page-top:focus .btn__text-slide-up {
  color: #000;
}

/* 
 * SOCIAL MEDIA LINKS 
 */
.social-media-nav {
  width: 100%;
}

.social-media-nav ul {
  margin: 0px auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.social-media-nav ul li {
  font-size: 1.7em;
  vertical-align: middle;
  text-transform: uppercase;
}

.social-media-nav ul li a,
.social-media-nav ul li a:link,
.social-media-nav ul li a:active,
.social-media-nav ul li a:visited {
  color: #F4F4F4;
}

.social-media-nav ul li a:hover,
.social-media-nav ul li a:focus {
  font-family: "PPNM-Medium", Helvetica, Arial, sans-serif;
}

.invisible {
  color: #212121;
}

.visible {
  color: whitesmoke;
}

.cursorPosition {
  border-left: 1px solid whitesmoke;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  background-color: #212121;
  height: 100vh;
  padding: 0 79px 0 79px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 57px;
}

header {
  color: #F4F4F4;
}

header img.page-logo {
  border: none;
}

.header__grid-item {
  padding: 29px 0 29px 0;
}

.header__grid-item:nth-child(1) {
  background-image: url(./assets/images/moose-header.webp);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 600px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__grid-item h1 {
  color: #F4F4F4;
  margin: 179px 0 29px 0;
}

.header__grid-item:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.header__metanav {
  display: flex;
  justify-content: flex-end;
}

main {
  height: auto;
  background-color: #F4F4F4;
}

.page-intro {
  height: auto;
  padding: 0 79px 121px 79px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 57px;
}

/*
.main__grid-item {
    background-color: paleturquoise;
}*/
.main__grid-item h2 {
  margin: 179px 0 29px 0;
}

.reason h3 {
  margin: 0 0 13px 0;
}

.page-intro .main__grid-item:nth-child(3),
.page-intro .main__grid-item:nth-child(4) {
  padding: 179px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 79px;
}

/*
 * PROJECTS
*/
.scroll-container {
  position: relative;
  overflow-x: hidden;
}

.project-container {
  display: flex;
  flex-wrap: nowrap;
}

.single-project-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-around;
}

.single-project-wrapper:nth-child(1) {
  background-color: white;
}

.single-project-wrapper:nth-child(2) {
  background-color: rgb(195, 195, 195);
}

.single-project-wrapper:nth-child(3) {
  background-color: white;
}

.single-project {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 0 79px 0 79px;
  gap: 57px;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.project-1 {
  background-image: url(./assets/images/project-1-backgroundImage.webp);
}

.project-2 {
  background-image: url(./assets/images/project-2-backgroundImage.webp);
}

.project-3 {
  background-image: url(./assets/images/project-3-backgroundImage.webp);
}

.project__grid-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #F4F4F4;
  padding: 79px 0 79px 0;
}

.project__title {
  text-transform: uppercase;
  font-size: 2.1em;
  margin: 0 0 121px 0;
}

.project__details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.project__details dl dt {
  text-transform: uppercase;
  font-size: 1.9em;
  color: #646464;
  margin: 0 0 29px 0;
}

.project__details dl dd {
  font-size: 1.9em;
}

.project__details--description {
  width: 211px;
}

.project__grid-item .row {
  display: flex;
  justify-content: flex-end;
}

.project__grid-item .row .btn {
  margin: 11px 0 0 0;
}

footer {
  background-color: #212121;
  height: 100vh;
}
