@use '../abstracts/icons' as icon;
@use '../abstracts/colors' as color;
@use '../abstracts/mixins' as mix;
@use '../abstracts/functions' as func;
@use '../abstracts/fonts' as font;
@use '../abstracts/margins' as margin;

footer {
    height: 100vh;
    padding: 0 79px 0 79px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    color: color.$white;
    background-color: color.$greyDark;
}

.footer--main {
    width: 40%;
    height: 100%;
}

.footer--visual {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(./assets/images/moose2.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto 79%;
}

.footer--title {
    margin: 157px 0 0 0;
    width: 89%;
}

.footer--title p {
    font-size: 3.7em;
}

.footer--text {
    margin: 57px 0 0 0;
    width: 89%;
}

.footer--lists {
    margin: 57px 0 57px 0;
    width: 89%;
    display: flex;
    justify-content: space-between;
}

.footer--lists dl dt {
    text-transform: uppercase;
    font-size: 1.9em;
    color: color.$greyLight;
    margin: 0 0 29px 0;
}

.footer--lists dl dd {
    font-size: 1.9em;
}

.footer--visual p {
    width: 100%;
    text-align: center;
    padding:  0 0 19px 0;
}

