@use '../abstracts/icons' as icon;
@use '../abstracts/colors' as color;
@use '../abstracts/mixins' as mix;
@use '../abstracts/functions' as func;
@use '../abstracts/fonts' as font;
@use '../abstracts/margins' as margin;

header {
    height: 100vh;
    padding: 0 79px 0 79px;
    color: color.$white;
    background-color: color.$greyDark;
}

.herobox--header {
    margin: 29px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.herobox--header a {
    color: color.$white;
}

.herobox--main {
    height: calc(100% - (41px + 29px));
    display: flex;
    flex-direction: row-reverse;
}


.herobox--main--visual {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(./assets/images/moose-header.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 90% auto;
}

.herobox--main--content  {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.herobox--title,
.herobox--text {
    width: 65%;
}


.herobox--text {
    margin: 29px 0 0 0;
}

.herobox--button {
    margin: 57px 0 0 0;
}

.herobox--copyright {
    margin: 179px 0 0 0;
    text-align: right;
    padding: 0 0 19px 0;
}

.herobox--links {
    width: 70%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.herobox--links li {
    width: 100%;
    font-size: 1.7em;
    padding: 0 0 19px 0;
}

.herobox--links li a {
    color: color.$white;
}