@use '../abstracts/icons' as icon;
@use '../abstracts/colors' as color;
@use '../abstracts/mixins' as mix;
@use '../abstracts/functions' as func;
@use '../abstracts/fonts' as font;
@use '../abstracts/margins' as margin;

header {
    background-color: color.$greyDark;
    height: 100vh;
    padding: 0 79px 0 79px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 57px;
}
header {
    color: color.$white;
}

header img.page-logo {
    border: none;
}

.header__grid-item {
    padding: 29px 0 29px 0;
}

.header__grid-item:nth-child(1) {
    background-image: url(./assets/images/moose-header.webp);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 600px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__grid-item h1 {
    color: color.$white;
    margin: 179px 0 29px 0;
}


.header__grid-item:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.header__metanav{
    display: flex;
    justify-content: flex-end;
}

