@use '../abstracts/icons' as icon;
@use '../abstracts/colors' as color;
@use '../abstracts/mixins' as mix;
@use '../abstracts/functions' as func;
@use '../abstracts/fonts' as font;
@use '../abstracts/margins' as margin;


main {
    height: auto;
}

// reasons

section.grid {    
    height: 100%;
    padding: 0 79px 0 79px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 57px;
}

.section--grid-item {
    height: auto;
}

.section--title {
    margin: 79px 0 0 0;
}

.section--intro-text {
    margin: 29px 0 0 0;
}

.section--button {
    margin: 79px 0 0 0;
}

section.grid a {
    color: color.$greyDark;
}

.section--content {
    padding: 79px 0 79px 0;
}

.reason {
    margin: 0 0 41px 0;
}

.reason--title {
    margin: 0 0 5px 0;
}

.section--content .reason:last-of-type {
    margin: 0;
}

// PROJECTS

.scroll-container {
    position: relative;
    overflow-x: hidden;
}

.project-container {
    display: flex;
    flex-wrap: nowrap;
}

.single-project--wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;   
}

.single-project {
    margin: 0 25px 0 0;
    width: 100%;
    height: 100%; 
    overflow-x: hidden; 
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: auto 100%; 
}

.project-1 {
    margin: 0 25px 0 25px;
    background-image: url(./assets/images/project-1-backgroundImage.webp);
}

.project-2 {
    background-image: url(./assets/images/project-2-backgroundImage.webp); 
}

.project-3 {
    background-image: url(./assets/images/project-3-backgroundImage.webp);
}

.project-grid {
    margin: 29px 0 0 57px;
    width: calc(100% - (57px + 57px));
    height: calc(100% - (29px + 29px));
    display: flex;  
    flex-direction: row;
    justify-content: flex-start;  
}

.project--details {
    width: 60%;
    color: color.$white;
}

.project--links--wrapper {
    width: 45%;
    display: flex;
    justify-content: flex-end;    
}

.project--links {
    display: flex;
    justify-content: flex-end;
}

.project--links .btn {
    margin: 9px 0 0 0;
}

.project--details,
.project--links {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.project--detail-lists {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.project--title {
    font-size: 2.5em;
    text-transform: uppercase;
}

.project--detail-lists dl  {
    margin: 79px 0 0 0;
}

.project--detail-lists dl:nth-child(2) {
    width: 40%;
}

.project--detail-lists dl dt {
    font-size: 1.9em;
    text-transform: uppercase;
    color: color.$greyLight;
    margin: 0 0 29px 0;
}

.project--detail-lists dl dd {
    font-size: 1.9em;
    margin: 0 0 1px 0;
}

// qualifications

.qualifications .section--intro-text p {
    margin: 0 0 29px 0;
}

.qualifications .section--button {
    margin: 79px 0 79px 0;
}

.qualifications__details {
    margin: 79px 0 79px 0;
}

.qualifications__details p {
    margin: 0 0 29px 0;
}

.qualifications__details dl dt,
.qualifications__details dl dd {
    font-size: 1.9em;
}

.qualifications__details dl dt {
    margin:  0 0 19px 0;
}

.qualifications__details dl dd {
    background-image: url(./assets/images/list-bullet.png);
    background-repeat: no-repeat;
    padding: 0 0 0 37px;
    margin: 0 0 9px 0;
    background-size: 19px 14px;
    background-position-y: 4px;
    background-position-x: left;

}