@use '../abstracts/icons' as icon;
@use '../abstracts/colors' as color;
@use '../abstracts/mixins' as mix;
@use '../abstracts/functions' as func;
@use '../abstracts/fonts' as font;
@use '../abstracts/margins' as margin;

main {
    height: auto;
    background-color: color.$white;
}

.page-intro,
.profile {
    height: auto;
    padding: 0 79px 121px 79px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 57px;
}

.main__grid-item h2 {
    margin: 179px 0 29px 0;
}

.reason h3 {
    margin: 0 0 13px 0;
}

.page-intro .main__grid-item:nth-child(3),
.page-intro .main__grid-item:nth-child(4) {
    padding:  179px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 79px;;
}

/*
 * PROJECTS
*/


.scroll-container {
    position: relative;
    overflow-x: hidden;
}

.project-container {
    display: flex;
    flex-wrap: nowrap;
}

.single-project-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
}

.single-project {
    width: 96vw;
    margin: 3vh 2vw 3vh 2vw;
    height: 94vh;
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 0 79px 0 79px;
    gap: 57px;
    background-repeat: no-repeat;
    background-size: auto 100%;
}


.project-1 {
    background-image: url(./assets/images/project-1-backgroundImage.webp);    
}

.project-2 {
    background-image: url(./assets/images/project-2-backgroundImage.webp);    
}

.project-3 {
    background-image: url(./assets/images/project-3-backgroundImage.webp); 
}

.project__grid-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: color.$white;
    padding: 79px 0 79px 0;
}

.project__title {
    text-transform: uppercase;
    font-size: 2.1em;
    margin: 0 0 121px 0;
}

.project__details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.project__details dl dt {
    text-transform: uppercase;
    font-size: 1.9em;
    color: color.$greyLight;
    margin: 0 0 29px 0;
}

.project__details dl dd {
    font-size: 1.9em;
}

.project__details--description {
    width: 211px;
}

.project__grid-item .row {
    display: flex;
    justify-content: flex-end;
}

.project__grid-item .row .btn {
    margin: 11px 0 0 0;
}

/*
 * Profile
 */

 .profile .main__grid-item:nth-child(3),
 .profile .main__grid-item:nth-child(4) {
    padding: 179px 0 79px 0;
 }

 .profile ul {
    margin: 21px 0 0 0;
 }

 .profile ul li {
    background-image: url(./assets/images/list-bullet.png);
    background-position: left 5px;
    background-repeat: no-repeat;
    background-size: 19px 14px;
    font-size: 1.9em;
    line-height: 1.1em;
    margin: 0 0 13px 0;
    padding: 0 0 0 35px;
 }